<html><head><base href="." /><title>Drag & Drop Todo List</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/tasks.css">
  </head>

  <body>
  <div class="container">
    <div class="todo-grid">
      <div class="todo-column" data-column="todo">
        <div class="column-header">To Do</div>
        <div class="items-container">
          <!-- Место для todo-item -->
        </div>
        <input type="text" class="add-todo" placeholder="Add new task...">
      </div>

      <div class="todo-column" data-column="in-progress">
        <div class="column-header">In Progress</div>
        <div class="items-container">
          <!-- Место для todo-item -->
        </div>
        <input type="text" class="add-todo" placeholder="Add new task...">
      </div>

      <div class="todo-column" data-column="done">
        <div class="column-header">Done</div>
        <div class="items-container">
          <!-- Место для todo-item -->
        </div>
        <input type="text" class="add-todo" placeholder="Add new task...">
      </div>
    </div>
  </div>
  <script src="../static/js/tasks.js"></script>
  </body></html>
