<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Мини чат: Администрирование пользователей</title>
</head>
<body>
<h1>Пользователи</h1>
<table id="user-table" border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Имя пользователя</th>
    <th>Email</th>
    <th>Тип пользователя</th>
    <th>Действие</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>
<script src="{{ url_for('static', path='js/user.js') }}"></script>
</body>
</html>
